<nav>
    <section>
        <ul class="menu">

            <li>
                <a href="#">Channel</a>
                <ul>
                    {% for cat  in menu %}
                        <li><a href="{{ path( 'smartnode_talk_chanview', {'id': cat.id } )}}">{{ cat.channame }}</a></li>
                    {% endfor %}
                </ul>
            </li>

            <li>
                <a href="{{ path( 'fos_user_security_login' )}}">Login</a>
                <ul>

                        <li><a href="{{ path( 'fos_user_security_logout' )}}">Logout</a></li>

                </ul>
            </li>
            <li>
                <a href="{{ path( 'smartnode_talk_chanadd' )}}">New Channel</a>

            </li>
            <li>
                <a href="{{ path( 'smartnode_talk_postadd' )}}">New Post</a>

            </li>


        </ul>
    </section>
</nav>